@model SummaryViewModel
@section scripts {
    <script src="~/js/formHandler.js"></script>
}
<header>
    <div class="container">
        <div id="brand">
            <h1><span class="highlight">Ingman</span> Development</h1>
        </div>
        <nav>
            <ul>
                <li><a href="../home">Home</a></li>
                <li><a href="../about">About</a></li>
                <li><a href="../github">Github</a></li>
                <li class="current"><a href="Covid">Covid-19</a></li>
                <li><a href="http://www.movieinfo.ingmandev.se">MovieSearch</a></li>
                <li><a href="http://www.reloading.ingmandev.se">Reloading</a></li>
            </ul>
        </nav>
    </div>
</header>
<section id="showcaseCovid">
    <div class="container">
        <h1></h1>
        <article class="information">
            <div>
                <p>

                </p>
            </div>
        </article>
    </div>
</section>
<section id="covid">
    <form asp-action="Index" asp-controller="covid" method="get">
        <div class="covidContainer">

            <h2>@Html.DisplayNameFor(x => x.Countries)</h2>
            <p>@Html.DropDownListFor(x => Model.SelectedCountry, new SelectList(Model.Countries, "Value", "Text"), "Välj land", new { @onchange = "onChange(this.value)" }) </p>
        </div>
        <aside id="sidebarCovid">
            <div class="covid">
                <h1></h1>

                <p>@Html.DisplayNameFor(model => model.NewConfirmed)</p>
                <p>@Html.DisplayFor(model => model.NewConfirmed)</p>

                <p>@Html.DisplayNameFor(model => model.TotalConfirmed)</p>
                <p>@Html.DisplayFor(model => model.TotalConfirmed)</p>

                <p>@Html.DisplayNameFor(model => model.NewDeaths)</p>
                <p>@Html.DisplayFor(model => model.NewDeaths)</p>

                <p>@Html.DisplayNameFor(model => model.TotalDeaths)</p>
                <p>@Html.DisplayFor(model => model.TotalDeaths)</p>

                <p>@Html.DisplayNameFor(model => model.NewRecovered)</p>
                <p>@Html.DisplayFor(model => model.NewRecovered)</p>

                <p>@Html.DisplayNameFor(model => model.TotalRecovered)</p>
                <p>@Html.DisplayFor(model => model.TotalRecovered)</p>

                <p>@Html.DisplayNameFor(model => model.Date)</p>
                <p>@Html.DisplayFor(model => model.Date)</p>
            </div>
        </aside>
    </form>
</section>