@model SummaryDTO
<header>
    <div class="container">
        <div id="brand">
            <h1><span class="highlight">Ingman</span> Development</h1>
        </div>
        <nav>
            <ul>
                <li><a href="home">Home</a></li>
                <li><a href="about">About</a></li>
                <li><a href="github">Github</a></li>
                <li class="current"><a href="Covid">Covid-19</a></li>
                <li><a href="http://www.movieinfo.ingmandev.se">MovieSearch</a></li>
                <li><a href="http://www.reloading.ingmandev.se">Reloading</a></li>
            </ul>
        </nav>
    </div>
</header>
<section id="showcaseCovid">
    <div class="container">
        <h1></h1>
        <article class="information">
            <div>
                <p>

                </p>
            </div>
        </article>
    </div>
</section>
<section id="covid">
    <div class="covidContainer">
        <h2>Nya bekräftade fall</h2>
        <p>@Model.Global.NewConfirmed</p>
        
        <h2>Totala bekräftade fall</h2>
        <p>@Model.Global.TotalConfirmed</p>
        
        <h2>Totala antalet dödsfall</h2>
        <p>@Model.Global.TotalDeaths</p>
        
        <h2>Nya dödsfall</h2>
        <p>@Model.Global.NewDeaths</p>
        
        <h2>Antal nya friskförklarade</h2>
        <p>@Model.Global.NewRecovered</p>
        
        <h2>Totala antalet friskförklarade</h2>
        <p>@Model.Global.TotalRecovered</p>
        
    </div>
    <aside id="sidebarCovid">
        <div class="covid">
            <h1>Country</h1>
            <p>
                Facts about that country.
            </p>
        </div>
    </aside>
</section>

         
         
        